@font-face {
  /**how to use custom font here: https://css-tricks.com/snippets/css/using-font-face/**/
  font-family: 'tapeworm';
  src: url('assets/fonts/tapeworm.ttf')format('truetype'); 
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

a {
  text-decoration: none;
}

/*******ed**********/
  #ed{
  height: 800px;
  background: url(assets/images/cool.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  }

  #ed h1{
  margin: 0 auto;
  width: 95%;
  font-size: 100px;
  text-align: center;
  line-height: 150px;
  color: #fff;
  font-family: 'tapeworm';
  }
/*******tauba*******/
  #tauba{
    background-color: #222;
    height: 700px;
    padding-top: 40px;
  }

  #box{
    margin: auto;
    display: table;
  }

  #tauba h1{
    font-size: 120px;
    font-family: 'Overpass Mono', monospace;
    text-transform: uppercase;
    letter-spacing: -8px;
    line-height: 100px;
  }

  #top{
    margin: 0;
    margin-bottom: -45px;
    width: 370px;
  }


  #bottom{
    margin: 0;
    margin-left: 268px;
    width: 264px;
    text-align: right;
  }
/*******lawrence*****/
  #lawrence{
    height: 700px;
  }

  #contain{
  }

  #lawrence h1{
    border: 10px solid #2695da;
    color: #2695DA;
    margin: 90px 0;
    display: -webkit-inline-box;
    font-size: 60px;
    font-family: 'Teko', sans-serif;
    word-spacing: 10px;
  }

  #one{
    
  }

  #two{
    
  }

  #three{
    
  }

  #four{
    
  }

/*******barbara*****/
  #barbara{
    height: 700px;
    border: red 25px solid;
  }

/*******patrick*****/
  #patrick{
    height: 900px;
    background-color: #000;
    font-family: 'Varela Round', sans-serif;
    color: white;
    position: relative;
  }

  #neon-sign{
    width: 900px;
    height: 521px;
    margin: auto;
    border: solid 15px white;
    border-radius: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
  }

  #patrick h1{
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    line-height: .9;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    font-weight: 100;
  }

  #rp{
    font-size: 84px;
  }

  #obsolete{
    font-size: 159px;
  }

  #af{
    font-size: 175px;
    letter-spacing: 13px;
    word-spacing: 28px;
  }

  #ap{
    font-size: 130px;
  }

@media only screen and (max-width : 768px){
  #ed h1{
    font-size: 80px;
  }
}